---
import Header from '../Components/Header.astro';
import Footer from '../Components/Footer.astro';
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout>
  <Header />
  <section class="blog">
    <h2>Blog</h2>
    <!-- Listado de entradas del blog -->
  </section>
  <Footer />
</MainLayout>
