---
import Header from '../Components/Header.astro';
import Footer from '../Components/Footer.astro';
import '../styles/global.css';
import ContactForm from '../Components/ContactForm.astro';
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <title>MyF - Agencia de Viajes</title>
  <link rel="stylesheet" href="/styles/global.css" />
</head>
<body>
  <main>
    <Header/>
  <section class="contacto">
    <h1>Contacto</h1>
    <ContactForm />
  </section>
  <Footer/>
  </main>
</body>
<html/>


