---

import HotelCard from '../Components/HotelCard.astro';
import Header from '../Components/Header.astro';

const hotels = [
  {
    image: '/assets/images/hotel1.jpg',
    name: 'Hotel Cusco Plaza',
    pricePerNight: '$80',
    link: '/hoteles/hotel-cusco-plaza'
  },
  {
    image: '/assets/images/hotel2.jpg',
    name: 'Hotel Lima Centro',
    pricePerNight: '$120',
    link: '/hoteles/hotel-lima-centro'
  },
  // Agrega más hoteles según sea necesario
];
---
<Header/>
  <section class="hoteles">
    <h1>Hoteles</h1>
    <div class="hotel-list">
      <HotelCard 
        image="/assets/images/hotel1.jpg" 
        hotel="Hotel en Destino 1" 
        description="Descripción del hotel" 
        link="/hoteles/hotel-1" 
      />
      <!-- More HotelCard components -->
    </div>
  </section>

