---
import Header from '../Components/Header.astro';
import Footer from '../Components/Footer.astro';
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout>
  <Header />
  <section class="informacion">
    <h2>Información del Destino</h2>
    <!-- Detalles sobre el destino seleccionado -->
  </section>
  <Footer />
</MainLayout>
