---
import Header from '../Components/Header.astro';
import Footer from '../Components/Footer.astro';
import '../styles/global.css';

---
<Header/>
  <section class="informacion">
    <h1>Información</h1>
    <p>Aquí se mostrará información detallada sobre el destino seleccionado.</p>
    <!-- Agrega más contenido y secciones según sea necesario -->
  </section>


