---
import Header from '../Components/Header.astro';
import Footer from '../Components/Footer.astro';
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout>
  <Header />
  <section class="servicios">
    <h2>Servicios Ofrecidos</h2>
    <!-- Descripción de los servicios -->
  </section>
  <Footer />
</MainLayout>
