---
import Header from '../Components/Header.astro';
import Footer from '../Components/Footer.astro';
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout>
  <Header />
  <section class="testimonios">
    <h2>Testimonios de Clientes</h2>
    <!-- Aquí puedes mostrar testimonios de clientes -->
  </section>
  <Footer />
</MainLayout>
