---
// Importación del componente y definición de enlaces
import '../styles/header.css';

const links = [
  { href: "/", text: "Home" },
  { href: "/destinos", text: "Destinos" },
  { href: "/ofertas", text: "Ofertas" },
  { href: "/servicios", text: "Servicios" },
  { href: "/testimonios", text: "Testimonios" },
  { href: "/blog", text: "Blog" },
  { href: "/contactos", text: "Contactos" },
];

const pathname = new URL(Astro.request.url).pathname;
---
<div class="header-component">
  <div class="container header-content">
    <a href="/" class="logo">Max Travel</a>
    <nav class="nav-links">
      {links.map(link => (
        <a href={link.href} class={pathname === link.href ? "active" : ""}>{link.text}</a>
      ))}
    </nav>
    <div class="hamburger-menu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>

 <script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    function toggleMenu() {
      const navLinks = document.querySelector('.nav-links');
      const hamburgerMenu = document.querySelector('.hamburger-menu');
      navLinks.classList.toggle('expanded');
      hamburgerMenu.classList.toggle('open');
    }

    const menuToggle = document.querySelector('.hamburger-menu');
    if (menuToggle) {
      menuToggle.addEventListener('click', toggleMenu);
    }
  });
</script>
